<div class="home">

    <header>
        <a href="http://localhost:3000">
        <img src="http://localhost:3000/imgs/liqs.png">
        </a>
    </header>

    <div class="inicio">
        <h1>Tenemos los medios necesarios</h1>
        <h2> &lt tenemos_el_poder_&gt </h2>

        <p> Nuestra creencia es que el mundo debe ser uno sin fronteras. Sin Limites. Uno donde la información le pertenezca a todos y no unos pocos.
        </p>
    </div>

    <a href="#filtro">

    <div class="circulo">
            <img src="imgs/download.svg">
    </div>
    </a>

</div>



<div class="filtros" >
    <a name="filtro"></a>
    <div class="cosita">
        <div class="info">
            <h2>&lt servicios/&gt </h2>
            <p>Ofrecemos servicios varios: Creación de documentos nuevos, DDOS, acceso a varios sitios... Lo que imagines probablemente podemos hacerlo.
            </p>
        </div>
        <a href="products">
            <div class="boton">
                <h3>&ltmás/&gt</h3>
            </div>
        </a>

    </div>

    <div class="cosita">
        <div class="info">
            <h2>&lt servicios/&gt </h2>
            <p>Ofrecemos servicios varios: Creación de documentos nuevos, DDOS, acceso a varios sitios... Lo que imagines probablemente podemos hacerlo.
            </p>
        </div>
        <div class="boton">
            <h3>&ltmás/&gt</h3>
        </div>

    </div>

    <div class="cosita">
        <div class="info">
            <h2>&lt servicios/&gt </h2>
            <p>Ofrecemos servicios varios: Creación de documentos nuevos, DDOS, acceso a varios sitios... Lo que imagines probablemente podemos hacerlo.
            </p>
        </div>
        <div class="boton">
            <h3>&ltmás/&gt</h3>
        </div>

    </div>

    <div class="cosita">
        <div class="info">
            <h2>&lt servicios/&gt </h2>
            <p>Ofrecemos servicios varios: Creación de documentos nuevos, DDOS, acceso a varios sitios... Lo que imagines probablemente podemos hacerlo.
            </p>
        </div>
        <div class="boton">
            <h3>&ltmás/&gt</h3>
        </div>

    </div>

    <div class="cosita">
        <div class="info">
            <h2>&lt servicios/&gt </h2>
            <p>Ofrecemos servicios varios: Creación de documentos nuevos, DDOS, acceso a varios sitios... Lo que imagines probablemente podemos hacerlo.
            </p>
        </div>
        <div class="boton">
            <h3>&ltmás/&gt</h3>
        </div>

    </div>

</div>

<script src="lib.js"></script>